@model EventFormModel

<div class="row">
    <div class="form-group col-lg-4">
        <span asp-validation-for="Name" class="alert-danger"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control col-xs-2" />
    </div>
</div>


<div class="row">
    <div class="form-group col-lg-4">
        <span asp-validation-for="Location" class="alert-danger"></span>
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control col-xs-2" />
    </div>
</div> 
<div class="row">

    <div class="form-group col-lg-4">
        <span asp-validation-for="Start" class="alert-danger"></span>
        <label asp-for="Start"></label>
        <input asp-for="Start" class="form-control col-xs-2" />
    </div>
</div>

<div class="row">
    <div class="form-group col-lg-4">
        <span asp-validation-for="End" class="alert-danger"></span>
        <label asp-for="End"></label>
        <input asp-for="End" class="form-control col-xs-2" />
    </div>
</div>

<div class="row">
    <div class="form-group">
        <button type="submit" class=" btn btn-success">Save Event</button>
    </div>
</div>

